<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Agenda</h1>
                    <p class="text-center lead">Seus contactos estao abaixo</p>
                    <!-- pode se criar varias divs com o comando "div.classe>div.classe>div.classe>etc..." -->
                    

                    <div class="responsive-table">
                        <table class="table my-3">
                            <tr>
                                <td>Willas</td>
                                <td>Xavier</td>
                                <td>23222424</td>
                                <td>willas@gmail.com</td>
                            </tr>
                           
                        </table>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
        <%- include('includes/footer') %>